body {
  font-family: 'Segoe UI', sans-serif;
  background: #eef1f5;
  padding: 20px;
}

.header {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.logo {
  background: #d32f2f;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 15px;
}

table { width:100%; border-collapse:collapse;}
th { background:#f1f3f5; padding:8px;}
td { padding:8px; border-top:1px solid #eee;}

.btn {
  background:#d32f2f;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:6px;
}

.btn-blue {
  background:#2f80ed;
  color:white;
  border:none;
  padding:5px 8px;
  border-radius:6px;
}

.over { color:red; font-weight:bold;}
.normal { color:green;}

.upload {
  border:2px dashed #ccc;
  padding:20px;
  text-align:center;
  border-radius:10px;
}

/* FLOW */
.step {
  padding: 8px;
  border-left: 4px solid #ddd;
  margin-bottom: 5px;
  transition: 0.3s;
}

.step.active {
  border-color: #2f80ed;
  background: #f0f6ff;
}

.done-step {
  border-color: green;
  background: #e6f7ee;
}

.fade {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}